@property --angle-1 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -75deg;
}

@property --angle-2 {
    syntax: "<angle>";
    inherits: false;
    initial-value: -45deg;
}

.buttonWrap {
    transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1);
    position: relative;
    z-index: 10;
    border-radius: 9999px;
    background-color: transparent;
    pointer-events: none;
    animation: fadeIn 1s ease-out 0.3s both;
}

.glassButton {
    all: unset;
    cursor: pointer;
    position: relative;
    border-radius: 9999px;
    pointer-events: auto;
    z-index: 30;
    outline: none;
    background: linear-gradient(-75deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    box-shadow:
        inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
        0 0 0.1em 0.25em rgba(255, 255, 255, 0.2) inset,
        0 0 0 0 rgba(255, 255, 255, 1);
    backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glassButton:hover {
    transform: scale(0.975);
    backdrop-filter: blur(0.01em);
    box-shadow:
        inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
        0 0 0.05em 0.1em rgba(255, 255, 255, 0.5) inset,
        0 0 0 0 rgba(255, 255, 255, 1);
}

.glassButton:active {
    transform: scale(0.95) rotate3d(1, 0, 0, 25deg);
    box-shadow:
        inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
        inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
        0 0.125em 0.125em -0.125em rgba(0, 0, 0, 0.2),
        0 0 0.1em 0.25em rgba(255, 255, 255, 0.2) inset,
        0 0.225em 0.05em 0 rgba(0, 0, 0, 0.05),
        0 0.25em 0 0 rgba(255, 255, 255, 0.75),
        inset 0 0.25em 0.05em 0 rgba(0, 0, 0, 0.15);
}



.glassButton:hover .buttonText {
    text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.12);
}

.glassButton:active .buttonText {
    text-shadow: 0.025em 0.25em 0.05em rgba(0, 0, 0, 0.12);
}

.buttonShadow {
    filter: blur(clamp(2px, 0.125em, 12px));
    transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1);
}

.buttonShadow::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 999px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    top: -0.5em;
    left: -0.875em;
    padding: 0.125em;
    box-sizing: border-box;
    opacity: 1;
    transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1);
}

.glassButton:hover+.buttonShadow {
    filter: blur(clamp(2px, 0.0625em, 6px));
}

.glassButton:hover+.buttonShadow::after {
    top: -0.875em;
    opacity: 1;
}

.glassButton:active+.buttonShadow {
    filter: blur(clamp(2px, 0.125em, 12px));
}

.glassButton:active+.buttonShadow::after {
    top: -0.5em;
    opacity: 0.75;
}

.glassButton::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 999px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    padding: 1px;
    box-sizing: border-box;
    background:
        conic-gradient(from var(--angle-1) at 50% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 5% 40%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 60% 95%, rgba(0, 0, 0, 0.5)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    transition: all 400ms cubic-bezier(0.25, 1, 0.5, 1), --angle-1 500ms ease;
    box-shadow: inset 0 0 0 0.5px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.glassButton:hover::after {
    --angle-1: -125deg;
}

.glassButton:active::after {
    --angle-1: -75deg;
}

.buttonShine {
    position: absolute;
    inset: 0;
    border-radius: 999px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    top: 0.5px;
    left: 0.5px;
    background: linear-gradient(var(--angle-2), rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 40% 50%, rgba(255, 255, 255, 0) 55%);
    mix-blend-mode: screen;
    pointer-events: none;
    background-size: 200% 200%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    transition: background-position 500ms cubic-bezier(0.25, 1, 0.5, 1), --angle-2 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.glassButton:hover .buttonShine {
    background-position: 25% 50%;
}

.glassButton:active .buttonShine {
    background-position: 50% 15%;
    --angle-2: -15deg;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}